<product-viewed class="product-viewed" data-limit="12" style="display: none;">
  <h2 class="global-heading">{{ 'products.product.recently_viewed' | t }}</h2>
  <div class="product-viewed__wrap swiper">
    <ul class="product-cards product-viewed__grids swiper-wrapper"></ul>
    <button type="button" class="swiper-button-prev" aria-label="{{ 'accessibility.previous_slide' | t }}"></button>
    <button type="button" class="swiper-button-next" aria-label="{{ 'accessibility.next_slide' | t }}"></button>
  </div>
  <div class="product-viewed__empty hidden">
    <p>{{ 'products.product.no_recently_viewed' | t }}</p>
  </div>
</product-viewed>
