<product-viewed class="product-viewed" data-limit="12" style="display: none;">
  <h2 class="global-heading">Sản phẩm đã xem</h2>
  <div class="product-viewed__wrap swiper">
    <ul class="product-cards product-viewed__grids swiper-wrapper"></ul>
    <button type="button" class="swiper-button-prev" aria-label="Sản phẩm trước"></button>
    <button type="button" class="swiper-button-next" aria-label="Sản phẩm tiếp theo"></button>
  </div>
  <div class="product-viewed__empty hidden">
    <p>Chưa có sản phẩm đã xem</p>
  </div>
</product-viewed>
