{%- layout none -%}
{%- assign products_per_page = settings.collection_template_products_per_page | default: 20 -%}
{%- paginate collection.products by products_per_page -%}
{%- if collection.products.size == 0 -%}
<div class="collection-template__no-products">
	<p>Không tìm thấy sản phẩm phù hợp</p>
</div>
{%- else -%}
<ul class="product-cards collection-template__products">
	{%- for product in collection.products -%}
	{%- assign lazyload = "lazy" -%}
	{%- assign fetchpriority = "auto" -%}
	{%- if forloop.index <= 3 -%}
		{%- assign lazyload = "eager" -%}
	{%- endif -%}
	{%- if forloop.first -%}
		{%- assign fetchpriority = "high" -%}
	{%- endif -%}
	<li class="product-cards__item">
		{%- include 'product-card' with product, lazyload: lazyload, fetchpriority: fetchpriority, show_vendor: true -%}
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}
{%- if paginate.pages > 1 -%}
<div class="collection-template__pagination">
	{%- include 'section-pagination' -%}
</div>
{%- endif -%}
{%- endpaginate -%}
