<div class="register-template">
  {%- include 'section-breadcrumb' -%}
  <div class="page-width">
    <h1 class="register-template__title">Đăng ký tài khoản</h1>
    <div class="register-template__wrapper">
      <div class="register-template__form">
        <div class="form form-register" id="form-register">
          {%- form 'create_customer' -%}
          {%- if form.errors -%}
          <div class="form-error" role="alert">{{ form.errors | default_errors }}</div>
          {%- endif -%}
          <div class="form-group">
            <label for="register-lastname">
              <span class="required">Họ của bạn</span>
              <div class="form-group-input">
                {%- include 'icon' with name: 'user' -%}
                <input type="text" id="register-lastname" class="form-control" name="customer[last_name]" required placeholder="Nhập họ của bạn">
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="register-firstname">
              <span class="required">Tên của bạn</span>
              <div class="form-group-input">
                {%- include 'icon' with name: 'user' -%}
                <input type="text" id="register-firstname" class="form-control" name="customer[first_name]" required placeholder="Nhập tên của bạn">
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="register-phone">
              <span class="required">Số điện thoại</span>
              <div class="form-group-input">
                {%- include 'icon' with name: 'phone' -%}
                <input type="tel" id="register-phone" class="form-control" name="customer[phone]" required placeholder="Nhập số điện thoại của bạn" pattern="^\+?\d{0,10}$">
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="register-email">
              <span class="required">Email</span>
              <div class="form-group-input">
                {%- include 'icon' with name: 'email' -%}
                <input type="email" id="register-email" class="form-control" name="customer[email]" required placeholder="Nhập địa chỉ email của bạn">
              </div>
            </label>
          </div>
          <toggle-password class="form-group">
            <label for="register-password" class="label-password">
              <span class="required">Mật khẩu</span>
              <div class="form-group-input">
                {%- include 'icon' with name: 'password' -%}
                <input type="password" id="register-password" class="form-control" name="customer[password]" required placeholder="Nhập mật khẩu của bạn">
                {%- include 'icon' with name: 'eye-show', class: 'icon-eye-show right' -%}
                {%- include 'icon' with name: 'eye-hide', class: 'icon-eye-hide right', style: 'display:none;' -%}
              </div>
            </label>
          </toggle-password>
          <div class="form-group">
            <button type="submit" class="button-primary active form-submit" title="Đăng ký">Đăng ký</button>
          </div>
          <div class="form-group form-group--text-center">
            <span class="form-text">Bạn đã có tài khoản? </span><a class="link" href="/account/login" title="Đăng nhập">Đăng nhập</a>
          </div>
          {%- endform -%}
        </div>
      </div>
      <div class="register-template__content">
        <div class="register-template__quote-icon">{%- include 'icon' with name: 'quote-open' -%}</div>
        <div class="register-template__quote-text">
          <p>Giỏ hàng đang chờ bạn! Đăng ký tài khoản để xem lịch sử đơn hàng, lưu sản phẩm yêu thích và tận hưởng trải nghiệm mua sắm trọn vẹn.</p>
        </div>
        <div class="register-template__quote-icon register-template__quote-icon--right">{%- include 'icon' with name: 'quote-close' -%}</div>
      </div>
    </div>
  </div>
</div>
